@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.liner {
    border: 1px solid red;
}

.liner-blue {
    border: 1px solid blue;
}

.liner-green {
    border: 1px solid green;
} 

ul{
    font-style: none;
    
}